<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 shadow my-5 m-auto p-5">
      <div class="" *ngIf="!success">
        <form [formGroup]="forgotPassForm" #passForgot="ngForm">
          <div class="mb-3">
            <label for="email" class="form-label">Password</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              [ngClass]="{'is-invalid':forgotPassForm.controls?.['email']?.invalid && forgotPassForm.controls?.['email']?.touched}"
            />
            <small
              *ngIf="forgotPassForm.controls?.['email']?.errors?.['required']"
              class="invalid-feedback text-danger"
              >Please enter the field</small
            >
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!passForgot.valid"
            (click)="onForgotPassword()"
          >
            Submit
          </button>
        </form>
      </div>

      <div class="bgColor p-3" *ngIf="success">
        <h2>Success</h2>
        <p>Password Reset link has been sent to your registered email id!</p>
      </div>

      <div class="bg-danger text-light p-3 mt-5 shadow" *ngIf="error">
        <h2>Error!</h2>
        <p>{{ error }}</p>
      </div>
    </div>
  </div>
</div>
