<div class="container bg-info p-2">
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <h3>Dashboard</h3>
      <button
        type="button"
        class="btn btn-outline-secondary text-dark"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="onOpenAddEmployeeForm()"
      >
        Add Employee
      </button>
    </div>
  </div>
</div>
<hr />

<!-- Employee -->
<div class="container">
  <div class="row">
    <div
      class="col-12 col-sm-12 col-md-6"
      *ngFor="let employee of employeeArr; index as i"
    >
      <div class="card mt-2">
        <div class="d-flex justify-content-between">
          <div class="col-md-4 align-self-center">
            <img src="./assets/user.jpg" class="img-fluid m-1" alt="user-img" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ employee.name }}</h5>
              <p class="card-text">
                <span>Designation:</span> {{ employee.designation }}
              </p>
              <p class="card-text">
                <span>Gender:</span> {{ employee.gender }}
              </p>
              <p class="card-text">
                <span>Status:</span> {{ employee.status }}
              </p>
              <div class="d-flex justify-content-around">
                <a
                  [routerLink]="['/employee-details', employee.empId]"
                  class="bg-info text-light p-1"
                  >View</a
                >
                <a
                  routerLink=""
                  class="bg-danger text-light p-1"
                  (click)="onDeleteEmployee(employee.empId)"
                  >Delete</a
                >
                <a
                  routerLink=""
                  class="bg-primary text-light p-1"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  (click)="onEditEmployee(employee.empId, i)"
                  >Edit</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Employee -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">
          Add Employee
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addEmployeeForm" #empForm="ngForm">
          <div class="mb-4">
            <label for="id" class="form-label">ID</label>
            <input
              type="text"
              class="form-control realtive"
              id="id"
              formControlName="id"
              [ngClass]="{'is-invalid':addEmployeeForm.controls?.['id']?.invalid && addEmployeeForm.controls?.['id']?.touched}"
            />
            <small
              *ngIf="addEmployeeForm.controls?.['id']?.errors?.['required']"
              class="invalid-feedback text-danger absolute"
            >
              ID is required
            </small>
          </div>
          <div class="mb-4">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control relative"
              id="name"
              formControlName="name"
              [ngClass]="{'is-invalid':addEmployeeForm.controls?.['name']?.invalid && addEmployeeForm.controls?.['name']?.touched}"
            />
            <small
              *ngIf="addEmployeeForm.controls?.['name']?.errors?.['required']"
              class="invalid-feedback text-danger absolute"
            >
              Employee Name is required
            </small>
          </div>
          <div class="mb-4">
            <label for="gender" class="form-label">Gender</label>
            <input
              type="text"
              class="form-control relative"
              id="gender"
              formControlName="gender"
              [ngClass]="{'is-invalid':addEmployeeForm.controls?.['gender']?.invalid && addEmployeeForm.controls?.['gender']?.touched}"
            />
            <small
              *ngIf="addEmployeeForm.controls?.['gender']?.errors?.['required']"
              class="invalid-feedback text-danger absolute"
              >Gender is required</small
            >
          </div>
          <div class="mb-4">
            <label for="designation" class="form-label">Designation</label>
            <input
              type="text"
              class="form-control relative"
              id="designation"
              formControlName="designation"
              [ngClass]="{'is-invalid':addEmployeeForm.controls?.['designation']?.invalid && addEmployeeForm.controls?.['designation']?.touched}"
            />
            <small
              *ngIf="addEmployeeForm.controls?.['designation']?.errors?.['required']"
              class="invalid-feedback text-danger absolute"
              >Designation is required</small
            >
          </div>
          <div class="mb-4">
            <label for="status" class="form-label">Status</label>
            <input
              type="text"
              class="form-control relative"
              id="status"
              formControlName="status"
              [ngClass]="{ 'is-invalid': addEmployeeForm.controls?.['status']?.invalid && addEmployeeForm.controls?.['status']?.touched }"
            />
            <small
              *ngIf="addEmployeeForm.controls?.['status']?.errors?.['required']"
              class="invalid-feedback text-danger absolute"
              >Status is required</small
            >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="submit"
          class="btn btn-success"
          (click)="onAddEmployee(empForm.value)"
        >
          {{ editMode ? "Update" : "Add" }}
        </button>
      </div>
    </div>
  </div>
</div>
